
html, body, #root, #app, #app>div {
    height: 100%;
    width: 100%;
  }

body {
    background-color: #212529;
    color: #fff;
}

#main{
    height: 95%;
    width: 100%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bubble{
    width: 95%;
    flex: 3;
}

.monster{
    flex: 8;
    font-size: 6em;
    color: black;
    transition: all 1s;   
    margin: 0.5em;

}

.monsterLeft {
    transform: translate(-100%, 0);
    opacity: 0;
}

.monsterRight{
    transform: translate(100%, 0);
    opacity: 0;
}

.monster > * {
    padding-bottom: 30px;
    margin: 30px;
    display: inline;
}

.choices {
    flex: 4;
    width: 95%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.card-response {
    flex: 1;
}